.App {
    text-align: center;
    display: flex;
    min-width: 512px;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    margin: 4em;
    padding: 4em;
    background-color: #ffe;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
